<?xml version="1.0" encoding="UTF-8"?>
<context namespace="mock.context">
	<includes>
		<include namespace="system"/>
	</includes>
	<objects>
		<object id="mock.context.Mock1" class="mock\context\Mock1">
			<constructor>
				<arg name="prop1">foo</arg>
			</constructor>
			<properties>
				<property name="prop2">bar</property>
				<property name="Child" type="object">system.Mock</property>
			</properties>
		</object>
		<object id="mock.context.Mock2" class="mock\context\Mock2">
		</object>
		<object id="mock.context.EventSubscriber" class="mock\context\EventSubscriber">
		</object>
	</objects>
	<events>
		<event name="event1">
			<listeners>
				<listener priority="2">mock.context.Mock1->onEvent1</listener>
			</listeners>
		</event>
	</events>
</context>