<?xml version="1.0" encoding="UTF-8"?>
<context namespace="mock.db.orm">
	<includes>
		<include namespace="system"/>
	</includes>
	<objects>
		<object id="mock.db.orm.StatsRepository" class="metadigit\core\db\orm\Repository">
			<constructor>
				<arg name="class">mock\db\orm\Stats</arg>
				<arg name="pdo">mysql</arg>
			</constructor>
		</object>
		<object id="mock.db.orm.UserRepository" class="metadigit\core\db\orm\Repository">
			<constructor>
				<arg name="class">mock\db\orm\User</arg>
				<arg name="pdo">mysql</arg>
			</constructor>
		</object>
		<object id="mock.db.orm.User2Repository" class="metadigit\core\db\orm\Repository">
			<constructor>
				<arg name="class">mock\db\orm\User2</arg>
				<arg name="pdo">mysql</arg>
			</constructor>
		</object>
	</objects>
	<events>
		<event name="event1">
			<listeners>
				<listener>substr</listener>
				<listener>EventTester::test1</listener>
				<listener priority="2">LocalMock->foo</listener>
			</listeners>
		</event>
	</events>
</context>
