<?xml version="1.0" encoding="UTF-8"?>
<context namespace="mock.context.cyclic2">
	<includes>
		<include namespace="mock.context.cyclic1"/>
	</includes>
	<objects>
		<object id="mock.context.cyclic2.Mock" class="mock\context\Mock1">
			<properties>
				<property name="Child" type="object">mock.context.cyclic1.Mock</property>
			</properties>
		</object>
	</objects>
</context>