<?xml version="1.0" encoding="UTF-8"?>
<context namespace="mock.web">
	<objects>
		<!-- Dispatcher -->
		<object id="mock.web.Dispatcher" class="metadigit\core\web\Dispatcher">
			<properties>
				<property name="routes" type="array">
					<item key="/catalog/*">mock.web.AbstractController</item>
					<item key="/mod1/*">mock.web.ActionController</item>
					<item key="/rest/*">mock.web.RestActionController</item>
					<item key="/home">mock.web.SimpleController</item>
				</property>
				<property name="resourcesDir">templates/</property>
			</properties>
		</object>
		<!-- controllers -->
		<object id="mock.web.SimpleController" class="mock\web\controller\SimpleController">
		</object>
		<object id="mock.web.ActionController" class="mock\web\controller\ActionController">
		</object>
		<object id="mock.web.AbstractController" class="mock\web\controller\AbstractController">
		</object>
		<object id="mock.web.RestActionController" class="mock\web\controller\RestActionController">
		</object>
	</objects>
</context>